<template>
  <div class="grid-container">
    <section class="posts">
      <nuxt-link tag="span" class="tag" :to="'/tags/' + tag.toLowerCase()"> #{{ tag }} </nuxt-link>
      <PostPreview
        v-for="(post, nr) in posts"
        v-if="nr < showAmount"
        :key="post.slug"
        :slug="post.slug"
        :date="post.date"
        :mainImage="post.mainImage"
        :mainImageConfig="post.mainImageConfig"
        :portrait="post.portrait"
        :portraitConfig="post.portraitConfig"
        :title="post.title"
        :location="post.location"
        :previewText="post.previewText"
        :nr="post.nr"
        :tags="post.tags"
        :tintColor="post.tintColor"
        :tintOpacity="post.tintOpacity"
        class="post"
      />
    </section>
  </div>
</template>

<script>
import PostPreview from '@/components/PostPreview'

export default {
  components: {
    PostPreview
  },
  data() {
    return {
      posts: [],
      showAmount: 100
    }
  },
  asyncData (context) {
    return context.$axios.get(`${context.env.LAMBDA_ENDPOINT}/getEntries`)
      .then((entries) => {
        let posts = entries.data.items
          .filter( (item) => {
            if (item.sys.contentType.sys.id !== 'title') {
              return false; // skip
            }
            return true;
          })
          .map((item, nr) => {
            let portraitConfig
            if (item.fields.portraitConfig == null){
              portraitConfig = ''
            } else {
              portraitConfig = item.fields.portraitConfig
            }

            return {
              title: item.fields.title,
              previewText: item.fields.previewText,
              portrait: 'https:' + item.fields.photoOfDesigner.fields.file.url,
              portraitConfig: portraitConfig,
              mainImage: 'https:' + item.fields.image.fields.file.url,
              mainImageConfig: item.fields.mainImageConfig,
              location: item.fields.location,
              nr: nr,
              slug: item.fields.slug,
              tags: item.fields.tags,
              tintColor: item.fields.portraitTint,
              tintOpacity: item.fields.portraitTintOpacity,
              date: {
                year: Number(item.sys.createdAt.split('T')[0].split('-')[0]),
                month: Number(item.sys.createdAt.split('T')[0].split('-')[1]),
                day: Number(item.sys.createdAt.split('T')[0].split('-')[2])
              }

            }
          })
        return posts
      })
      .then((posts) => {
        let matches = []
        let correctCaseTag
        // console.log(context.params.id);
        posts.forEach(post => {
          if (post.tags) {
            post.tags.forEach(tag => {
              if (tag.toLowerCase() === context.params.id.toLowerCase()) {
                matches.push(post)
                correctCaseTag = tag
              }
            })

          }
        })
        return {
          posts: matches,
          tag: correctCaseTag
        }
      })
      .catch(console.error)
  },
  methods: {
    scroll () {
      window.onscroll = () => {
        let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight

        if (bottomOfWindow) {
          this.addPosts()
        }
      }
    },
    addPosts() {
      this.showAmount += 2
    }
  },
  mounted() {
    this.scroll(this.person);
  }

}
</script>

<style scoped lang="scss">
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "posts-area";
    margin-bottom: 100px;

    @include tablet {
      grid-template-columns: 1fr 550px 1fr;
      grid-template-areas: ". posts-area .";
    }

    @include desktop {
      grid-template-columns: 1fr 950px 1fr;
    }
  }

  .posts {
    grid-area: posts-area;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    @include tablet {
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
      justify-items: center;

    }

  .post {
    margin: 50px 0 0 0;
    cursor: pointer;

    @include tablet {
      margin: 32px 10px 28px 10px;
    }
  }

  .tag {
    // display: none;
    cursor: pointer;
    grid-column-start: 1;
    grid-column-end: span 1;

    margin: 27px 5px 0 0;
    background: #f8f8f8;
    font-size: 0.95rem;

    @include tablet {
      font-size: 0.65rem;
      margin: 7px 5px 0 0;
    }

    @include desktop {
      grid-column-start: 1;
      grid-column-end: span 2;
    }
  }

  }
</style>
