<template>
  <div class="grid-container">
    <section class="recipes">
        <PostPreview
          :key="post.id"
          :thumbnail="post.thumbnail.url"
          :portrait="post.portrait.url"
          :title="post.title"
          :location="post.location"
          :previewText="post.previewText"
          :id="post.id"
        />
    </section>
  </div>
</template>

<script>
import {createClient} from '~/plugins/contentful.js'
import PostPreview from '@/components/PostPreview'

// const client = createClient({
//   space: env.CTF_SPACE_ID,
//   accessToken: env.CTF_CPA_ACCESS_TOKEN
// })

// let client = createClient()
const cpa = {
  accessToken: '33a0f2f003433c0e95e7ade688a0072a1a6f25bb2e244ef1b44f711972f016f0',
  spaceId: 'kzu0wn0hispw',
  envId: 'master'
}
const client = createClient()
export default {
  components: {
    PostPreview
  },
  data() {
    return {
      posts: [],
      showAmount: 4
    }
  },
  asyncData (context) {

    return context.$axios.get(`https://preview.contentful.com/spaces/${cpa.spaceId}/environments/${cpa.envId}/entries?access_token=${cpa.accessToken}`)
      .then(response => {
        return response.data
      })
      .then((entries) => {


        let posts = entries.data.items
          .filter( (item) => {
            if (item.sys.contentType.sys.id !== 'title') {
              return false; // skip
            }
            return true;
          })
        .map((item) => {
          return {
            title: item.fields.title,
            previewText: item.fields.previewText,
            portrait: {
              assetId: item.fields.photoOfDesigner.sys.id
            },
            thumbnail: {
              assetId: item.fields.image.sys.id
            },
            location: item.fields.location,
            id: item.fields.slug,
          }
        })

        return posts.find(el => el.id === context.params.id)
      })
      .then(post => {
        return Promise.all([
            context.$axios.get(`https://preview.contentful.com/spaces/${cpa.spaceId}/environments/${cpa.envId}/assets/${post.portrait.assetId}?access_token=${cpa.accessToken}`),
            context.$axios.get(`https://preview.contentful.com/spaces/${cpa.spaceId}/environments/${cpa.envId}/assets/${post.thumbnail.assetId}?access_token=${cpa.accessToken}`)
          ])
          .then(([portraitResp, thumbResp]) => {
            post.portrait.url = 'https:' + portraitResp.data.fields.file.url
            post.thumbnail.url = 'https:' + thumbResp.data.fields.file.url

            return {post: post}
          })
      })
      .catch(console.error)
  },
  methods: {
    scroll () {
      window.onscroll = () => {
        let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight

        if (bottomOfWindow) {
          this.addPosts()
        }
      }
    },
    addPosts() {
      this.showAmount += 2
    }
  },
  mounted() {
    this.scroll(this.person);
  }

}
</script>

<style scoped>
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1050px 1fr;
    grid-template-areas: ". recipe-area .";
    margin-bottom: 100px;
  }

  .recipes {
    grid-area: recipe-area;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-items: center;
  }
</style>
