<template>
  <footer>
    <div class="footer">
      <p class="text">
        Copyright © {{ new Date().getFullYear() }} Literation
      </p>
      <p class="text">Contact: <a href="mailto:literation.desk@gmail.com">literation.desk@gmail.com</a></p>
    </div>
  </footer>
</template>

<style scoped lang="scss">


  @font-face {
      font-family: avenir;
      src: url(/fonts/AvenirNextLTPro-Regular.otf);
  }

  .footer {
    font-family: avenir, sans-serif;
    padding-bottom: 4rem;
  }

  .text {
    display: block;
    text-align: center;
    width: auto;
    // background: red;
  }


</style>
