<template>
  <header>
    <nuxt-link to="/" tag="div" class="title-container">
        <div class="logo-image-container">
          <img src="/literation-logo.png" class="grid-items">
        </div>

        <span class="grid-item">
          <div class="title-over">Literation</div>
          <div class="title-under-text">Books that inspire designers & creatives</div>
        </span>
    </nuxt-link>
    <ul>
      <nuxt-link to="/about" tag="li"><div><span>About</span><span class="dot dot-1">•</span></div></nuxt-link>
      <li> <a href="https://instagram.com/_literation_"><div><span>Instagram</span><span class="dot dot-2">•</span></div></a></li>
    </ul>
  </header>
</template>

<style scoped lang="scss">


  @font-face {
      font-family: avenir;
      src: url(/fonts/AvenirNextLTPro-Regular.otf);
  }

  a {
    color: rgb(100, 100, 100);
  }

  header {
    height: 200px;
    width: 100%;
    display: grid;
    padding: 0 0 10px 0;
    margin: 0;
    justify-content: left;
    align-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 40px;
    grid-template-areas:  "logo"
                          "menu";

    @include tablet {
      height: 200px;
      grid-template-columns: 500px 1fr auto 70px;
      grid-template-areas: "logo . menu .";
      grid-template-rows: auto;
      background: white;
    }

    @include desktop {
      grid-template-areas: "logo . menu .";
      grid-template-columns: 550px 1fr 250px 90px;
      background: white;
    }
  }

  .title-container {
    grid-area: logo;
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
    align-content: center;

    @include tablet {
      grid-template-columns: 80px 280px;
      grid-gap: 10px;

    }
  }

  .title-container:hover {
    cursor: pointer;
  }

  .logo-image-container {
    width: 80px;
    height: 80px;
    justify-self: center;
    @include tablet {
      justify-self: auto;
    }
  }


  .grid-item {
    height: 80px;
    display: grid;
    align-content: center;
    margin-left: 8px;

  }

  .title-over {
    font-family: avenir, sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: -5px;
  }

  .title-under-text {
    font-size: 0.7rem;
    font-weight: 300;
    font-family: avenir, sans-serif;
    margin-left: 0.13rem;

    @include tablet {
      font-size: 0.9rem;
      margin-left: 3px;
    }

  }

  ul {
    grid-area: menu;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-self: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
    align-items: center;

    @include tablet {
      display: block;
      justify-content: center;
      align-items: center;
    }



  }

  li {
    cursor: pointer;
    margin: 0 10px;
    border-bottom: 2px solid rgba(255,255,255,0);
    padding-right: 1em;
    font-family: avenir, sans-serif;
    font-weight: 800;
    color: rgb(100, 100, 100);
    height: 30px;
    display: grid;
    justify-content: right;

    @include tablet {

    }
  }

  .dot {
    display: inline-block;
    font-size: 2em;
    margin-left: 10px;
    transform: translateY(6px);
  }

  .dot-1 {
    color: rgb(214, 128, 136);
  }

  .dot-2 {
    color: rgb(200, 188, 42);
  }
</style>
