<template>

    <article :to="'/' + slug" class="post-loading">
      <div class="portrait-wrapper">
        <div class="tint" :style="tint"> </div>
      </div>
      <div class="title-line">
        <div class="title-preview-box"></div>
      </div>
      <div class="text-preview-container">
        <div class="text-preview-box"></div>
        <div class="text-preview-box"></div>
      </div>
      <div class="main-image-wrapper">
        <img :src="mainImage" :style="mainImageAdjust"></img>
      </div>
      <div class="bottom-line">
        <nuxt-link tag="span" class="tag" v-for="tag in tags" :key="tag" @click.stop="" :to="'/tags/'+tag.toLowerCase()">   </nuxt-link>
      </div>
    </article>
</template>

<script>
  export default {
    props: ['mainImage', 'mainImageConfig', 'location', 'portrait', 'portraitConfig', 'title', 'previewText', 'nr', 'tags', 'slug', 'tintColor', 'tintOpacity'],
    data() {
      return{
        portraitTints: [ { r: 255, g: 255, b: 0, a: 0.3 }, { r: 200, g: 0, b: 0, a: 0.3 }, { r: 200, g: 200, b: 0, a: 0.3 }, { r: 0, g: 0, b: 200, a: 0.3 } ],
        togglePost: true
      }
    },
    methods: {
      tagFilter(tag) {

      },
      calculateTint() {
        if (this.tintColor){
          return this.convertHex(this.tintColor)
        } else {
          return this.bgCarousel()
        }
      },
      convertHex(color) {
        color = this.tintColor.replace('#', '')
        let r = parseInt(color.substring(0, 2), 16)
        let g = parseInt(color.substring(2, 4), 16)
        let b = parseInt(color.substring(4, 6), 16)
        let result = 'rgba(' + r + ',' + g + ',' + b + ',' + this.tintOpacity + ')'
        return result
      },
      bgCarousel() {
        let length = this.portraitTints.length
        let position = this.nr % length
        let tint = this.portraitTints[position]
        return 'rgba(' + tint.r + ',' + tint.g + ',' + tint.b + ',' + tint.a + ')'
      }
    },
    computed: {
      tint: function(){
        return {
          background: this.calculateTint()
        }
      },
      mainImageAdjust() {
        return {transform: 'translateY(-' + this.mainImageConfig + 'px)'}
      }
    },
    mounted() {
      this.togglePost = false
    }
  }
</script>

<style lang="scss" scoped>
  @font-face {
      font-family: helvetica-bd;
      src: url(/fonts/HelveticaNeueBd.ttf);
  }

  @font-face {
      font-family: avenir;
      src: url(/fonts/AvenirNextLTPro-Regular.otf);
  }


  .post-loading {
    width: 100%;
    height: 466px;
    border: 1px solid #ccc;
    padding: 15px 35px 5px 35px;
    border-radius: 5px;

    @include tablet {
      width: 420px;
    }
  }

  .is-hidden {
    display: none;
  }

  .post:hover {
    border: 1px solid #aaa;
  }

  .title-line {
    margin-bottom: 10px;
  }

  .title-preview-box {
    font-size: 1.1rem;
    font-family: helvetica-bd;
    width: 190px;
    height: 23px;
    margin-bottom: 10px;
    margin-top: 13px;
    background: #eee;
  }

  .location-text {
    margin-bottom: 15px;
    font-family: avenir;

  }

  .text-preview{

    &-container {
      font-size: 0.9rem;
      font-family: avenir;
      height: 80px;
    }

    &-box {
      width: 320x;
      height: 23px;
      margin-bottom: 6px;
      background: #eee;
    }
  }

  .portrait-wrapper {
    height: 80px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
  }

  .tint {
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 100px;
    background: rgba(0,0,200, 0.2);
  }

  .portrait-image {
    border-radius: 100px;
    background-position: center;
    background-size: cover;
    height: 100%;
  }

  .main-image-wrapper {
    width: 100%;
    height: 195px;
    border: 1px solid #eee;
    background: #eee;

    border-radius: 3px;
    width: 100%;
    height: 195px;
    overflow: hidden;

    img {
      width: 100%;

    }
  }

  .tag {
    margin: 12px 5px 0 0;
    background: #f8f8f8;
    font-size: 0.65rem;
  }

</style>
