<template>
  <nuxt-link
    :to="'/' + slug"
    class="post"
    :class="{'is-visible': showPost}"
    tag="article"
  >
    <div class="portrait-wrapper">
      <div class="tint" :style="tint"> </div>
      <img :src="portrait + '?w=160' + portraitConfig" class="portrait-image">
    </div>
    <div class="title-line">
      <span class="title-text">{{ title }}</span>
      <span class="divider-text"> | </span>
      <span class="location-text is-size-6"> {{ location }} </span>
    </div>
    <p class="preview-text"> {{ previewText }} </p>
    <div class="main-image-wrapper">
      <img :src="mainImage + '?w=692'" :style="mainImageAdjust"></img>
    </div>
    <div class="bottom-line">
      <div class="tags-line">
        <nuxt-link tag="div" class="tag" v-for="tag in tags" :key="tag" @click.stop="" :to="'/tags/'+tag.toLowerCase()"> #{{ tag }} </nuxt-link>
      </div>
      <div
        class="date"
      >
        {{ date.day }}.{{ date.month }}.{{ date.year }}
      </div>
    </div>
  </nuxt-link>
</template>

<script>

  export default {
    props: ['mainImage', 'date', 'mainImageConfig', 'location', 'portrait', 'portraitConfig', 'title', 'previewText', 'nr', 'tags', 'slug', 'tintColor', 'tintOpacity'],
    data() {
      return{
        portraitTints: [ { r: 255, g: 255, b: 0, a: 0.3 }, { r: 200, g: 0, b: 0, a: 0.3 }, { r: 200, g: 200, b: 0, a: 0.3 }, { r: 0, g: 0, b: 200, a: 0.3 } ],
        showPost: false
      }
    },
    methods: {
      tagFilter(tag) {

      },
      calculateTint() {
        if (this.tintColor){
          return this.convertHex(this.tintColor)
        } else {
          return this.bgCarousel()
        }
      },
      convertHex(color) {
        color = this.tintColor.replace('#', '')
        let r = parseInt(color.substring(0, 2), 16)
        let g = parseInt(color.substring(2, 4), 16)
        let b = parseInt(color.substring(4, 6), 16)
        let result = 'rgba(' + r + ',' + g + ',' + b + ',' + this.tintOpacity + ')'
        return result
      },
      bgCarousel() {
        let length = this.portraitTints.length
        let position = this.nr % length
        let tint = this.portraitTints[position]
        return 'rgba(' + tint.r + ',' + tint.g + ',' + tint.b + ',' + tint.a + ')'
      }
    },
    computed: {
      tint: function(){
        return {
          background: this.calculateTint()
        }
      },
      mainImageAdjust() {
        return {transform: 'translateY(-' + this.mainImageConfig + 'px)'}
      }
    },
    mounted() {
      this.showPost = true
      this.$emit('postPreviewMounted', this.showPost)
    }
  }
</script>

<style lang="scss" scoped>
  @font-face {
      font-family: helvetica-bd;
      src: url(/fonts/HelveticaNeueBd.ttf);
  }

  @font-face {
      font-family: avenir;
      src: url(/fonts/AvenirNextLTPro-Regular.otf);
  }


  .post {
    width: 100%;
    border: 1px solid #ccc;
    padding: 15px 35px 15px 35px;
    border-radius: 5px;

    @include tablet {
      width: 420px;
      height: auto;
      padding: 15px 35px 5px 35px;
    }
  }


  .post:hover {
    border: 1px solid #aaa;
  }

  .title-line {
    margin-bottom: 10px;
  }

  .title-text {
    font-size: 1.1rem;
    font-family: helvetica-bd, sans-serif;
  }

  .divider-text {
    display: inline-block;
    font-size: 1.1rem;
    font-family: avenir, sans-serif;
    margin: 0 0 0 7px;
    transform: translate(0, -1px);

    // @include tablet {
    //   font-size: 1.8rem;
    // }
  }


  .location-text {
    margin-bottom: 15px;
    font-family: avenir, sans-serif;

  }
  .preview-text {
    font-size: 0.9rem;
    font-family: avenir, sans-serif;
    height: 80px;
  }

  .portrait-wrapper {
    height: 80px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
  }

  .tint {
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 100px;
    background: rgba(0,0,200, 0.2);
    // border: 1px solid #ccc;
  }

  .portrait-image {
    border-radius: 100px;
    background-position: center;
    background-size: cover;
    height: 100%;
  }

  .main-image-wrapper {
    width: 100%;
    height: 195px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    height: 195px;
    overflow: hidden;

    img {
      width: 100%;

    }
  }

  .bottom-line {
    display: flex;
    padding: 6px 0 3px 0;
  }

  .tags-line {
    display: inline-flex;
    // background-color: #aaa;
    max-width: 100%;
    flex-wrap: wrap;
  }

  .tag {
    margin: 6px 5px 6px 0;
    background: #f8f8f8;
    font-size: 0.65rem;
  }



  .date {
    display: inline-block;
    float: right;
    margin: 6px 5px 0 auto;
    font-size: 0.65rem;
    color: #aaa;
  }
</style>
