<template>
  <article
    class="post"
    :class="{'is-visible': showPost}"
  >
    <!-- <div class="portrait-wrapper"> -->
    <div class="tint" :style="tint"> </div>
    <img :src="portrait + '?w=110'" class="portrait-image">
    <!-- </div> -->
    <div class="title-line">
      <span class="title-text">{{ title }}</span>
      <span class="divider-text"> | </span>
      <span class="location-text"> {{ location }} </span>
    </div>
    <post-markdown :mainEntry="mainEntry"></post-markdown>
    <div class="bottom-line">
      <nuxt-link tag="span" class="tag" v-for="tag in tags" :key="tag" @click.stop="" :to="'/tags/'+tag.toLowerCase()"> #{{ tag }} </nuxt-link>
    </div>
  </article>
</template>

<script>
  import PostMarkdown from '@/components/PostMarkdown'

  export default {
    components: {
      PostMarkdown
    },
    props: ['mainImage', 'location', 'portrait', 'portraitConfig', 'title', 'mainEntry', 'nr', 'tags', 'slug', 'tintColor', 'tintOpacity'],
    data() {
      return{
        portraitTints: [ { r: 255, g: 255, b: 0, a: 0.3 }, { r: 200, g: 0, b: 0, a: 0.3 }, { r: 200, g: 200, b: 0, a: 0.3 }, { r: 0, g: 0, b: 200, a: 0.3 } ],
        showPost: false
      }
    },
    methods: {
      tagFilter(tag) {

      },
      calculateTint() {
        if (this.tintColor){
          return this.convertHex(this.tintColor)
        } else {
          return this.bgCarousel()
        }
      },
      convertHex(color) {
        color = this.tintColor.replace('#', '')
        let r = parseInt(color.substring(0, 2), 16)
        let g = parseInt(color.substring(2, 4), 16)
        let b = parseInt(color.substring(4, 6), 16)
        let result = 'rgba(' + r + ',' + g + ',' + b + ',' + this.tintOpacity + ')'
        return result
      },
      bgCarousel() {
        let length = this.portraitTints.length
        let position = this.nr % length
        let tint = this.portraitTints[position]
        return 'rgba(' + tint.r + ',' + tint.g + ',' + tint.b + ',' + tint.a + ')'
      }
    },
    computed: {
      tint: function(){
        return {
          background: this.calculateTint()
        }
      }
    },
    mounted() {
      this.showPost = true
      this.$emit('postPreviewMounted', this.showPost)
    }
  }
</script>

<style lang="scss" scoped>
  @font-face {
      font-family: helvetica-bd;
      src: url(/fonts/HelveticaNeueBd.ttf);
  }

  @font-face {
      font-family: avenir;
      src: url(/fonts/AvenirNextLTPro-Regular.otf);
  }


  .post {
    width: 100%;
    border: 1px solid #aaa;
    padding: 40px 30px 25px 30px;
    border-radius: 5px;
    position: relative;

    @include tablet {
      width: 720px;
      padding: 40px 60px 25px 60px;
    }

    @include desktop {
      width: 920px;
    }
  }

  .title-line {
    margin-bottom: 18px;
  }

  .title-text {
    font-size: 1.1rem;
    font-family: helvetica-bd, sans-serif;

    @include tablet {
      font-size: 1.3rem;
    }

  }

  .divider-text {
    display: inline-block;
    font-size: 1.6rem;
    font-family: helvetica-bd, sans-serif;
    margin: 0 5px 0 5px;
    transform: translate(4px, 3px);

    @include tablet {
      font-size: 1.8rem;
    }
  }

  .location-text {
    font-size: 1.1rem;
    margin-bottom: 15px;
    font-family: avenir, sans-serif;

    @include tablet {
      font-size: 1.2rem;
    }
  }


  .portrait-wrapper {
    height: 96px;
    margin-bottom: 10px;
    z-index: 1;


    @include tablet {
      height: 110px;
      right: 60px;
      top: 40px;
      position: absolute;
    }
  }

  .tint {

      position: absolute;
    height: 96px;
    width: 96px;
    border-radius: 100px;
    background: rgba(0,0,200, 0.2);
    border: 1px solid #ccc;
    height: 96px;
    margin-bottom: 10px;
    z-index: 111;


    @include tablet {
      height: 110px;
      right: 60px;
      top: 40px;
      height: 110px;
      width: 110px;
    }

  }

  .portrait-image {
//

    border-radius: 100px;
    background-position: center;
    background-size: cover;
    height: 100%;
    height: 96px;
    margin-bottom: 10px;
    z-index: 21;


    @include tablet {
      height: 110px;
      right: 60px;
      top: 40px;
      position: absolute;
    }

  }

  .main-image-wrapper {

  }

  .tag {
    margin: 19px 5px 0 0;
    background: #f8f8f8;
    font-size: 0.65rem;
    cursor: pointer;
  }

</style>
