<template>
  <div>
    <vue-markdown
      class="post-markdown"
      :html="true"
    >{{ mainEntry }}</vue-markdown>
  </div>
</template>
<script>
  import VueMarkdown from 'vue-markdown'
  export default {
    props: ['mainEntry'],
    components: {
      VueMarkdown
    }
  }
</script>
<style lang="scss">
  .post-markdown {
    font-size: 1rem;
    font-family: avenir;
    min-height: 20px;
    margin-bottom: 20px;

    @include tablet {
      font-size: 1.1rem;
      width: 480px;
    }

    @include desktop {
      width: 620px;
    }
  }

  .photo {
    width: 100%;
    margin-top: 20px;

    @include tablet {
      min-width: 600px;
      max-width: 600px;
    }
  }


  blockquote {
    padding: 0 7% 0 7%;
    // margin: 1.5rem 0;
    font-size: 1.1rem;
    // color: red;
    font-weight: 600;
    line-height: 1.3;

    @include tablet {
      padding: 0 12% 0 12%;
    }

  }

  small {
    font-size: 0.8rem;
  }
</style>
