<template>
  <div class="event-bar">
    <div v-for="event in events">
      <h1 class="title" v-if="!event.titleStylized">{{ event.title }}</h1>
      <h1 class="title" v-if="event.titleStylized">
        <vue-markdown :html="true">{{event.titleStylized}}</vue-markdown>
      </h1>
      <div v-for="image in event.images" class="image-wrapper">
        <a :href="image && image.link">
          <img :src="image && image.imageURL" alt="event image" :style="{'width': image && image.imageWidth + 'px'}">
        </a>
      </div>
    </div>
  </div>
</template>

<script>
  import vueMarkdown from 'vue-markdown'

  export default {
    components: {
      vueMarkdown
    },
    props: ['events'],
    data() {
      return{
      }
    },
    methods: {
    }
  }
</script>

<style lang="scss" scoped>

  @font-face {
      font-family: helvetica-bd;
      src: url(/fonts/HelveticaNeueBd.ttf);
  }

  @font-face {
      font-family: avenir;
      src: url(/fonts/AvenirNextLTPro-Regular.otf);
  }
  .event-bar {
    width: 100%;
  }

  .title {
    color: $literation-orange;
    font-size: 1.2rem;
    margin-top: 6rem;
    font-weight: 400;
    margin-bottom: 2rem;
    margin-left: -0.1rem;
  }

  .image-wrapper {
    margin-bottom: 3rem;
  }
</style>
