<template>
  <div class="about-page">
    <div class="text-section">
      <vue-markdown :html="true">{{aboutText}}</vue-markdown>
    </div>
    <Footer class="footer-about" />
  </div>
</template>
<script>
  import vueMarkdown from 'vue-markdown'
  import Footer from '@/components/Footer'
  const contentful = require('contentful')
  const client = contentful.createClient({
        space: process.env.CTF_SPACE_ID,
        accessToken: process.env.CTF_CDA_ACCESS_TOKEN
  })

  export default {
    layout() {
      return 'about'
    },
    components: {
      vueMarkdown,
      Footer
    },
    asyncData (context) {
      return client.getEntries({
        order: '-sys.createdAt',
        include: 9
      })
        .then(entries => {
          return entries.items
            .filter( (item) => {
              if (item.sys.contentType.sys.id === 'aboutText') {
                return true
              } else {
                return false
              }
            })
            .map(item => {
              console.log('item: ', item)
              return {
                aboutText: item.fields.text
              }
            })
        })
        .then(item => {
          return item[0]
        })
    },
    data() {
      return{
      }
    },
    methods: {
    }
  }

</script>
<style scoped lang="scss">
  @font-face {
      font-family: helvetica-bd;
      src: url(/fonts/HelveticaNeueBd.ttf);
  }

  @font-face {
      font-family: avenir;
      src: url(/fonts/AvenirNextLTPro-Regular.otf);
  }

  h1 {
    font-family: helvetica-bd, sans-serif;
    font-size: 1.3em;
    margin-bottom: 30px;
  }
  a {
    color: rgb(74, 74, 74);
    text-decoration: underline;
  }

  .about-page {
    display: grid;
    grid-auto-flow: row;
    height: 100%;
    /*width: 100%;*/
    /*background: red;*/

    grid-template-rows: 1fr auto;
  }

  .text-section {
    max-width: 800px;
    margin: 30px auto 0 auto;
    font-family: avenir;
    padding: 0 20px 60px 20px;

    @include tablet {
      padding: 0 20px 0 20px;
      margin: 80px auto 0 auto;

    }
  }

  .footer-about {
    /*position: relative;*/
    /*bottom: 0;*/
    width: 100%;
  }
</style>
