<template>
  <post-main-entry
    class="post-inner"
    :key="post.slug"
    :slug="post.slug"
    :mainImage="post.mainImage"
    :mainImageConfig="post.mainImageConfig"
    :portrait="post.portrait"
    :portraitConfig="post.portraitConfig"
    :title="post.title"
    :location="post.location"
    :mainEntry="post.mainEntry"
    :nr="post.nr"
    :tags="post.tags"
    :tintColor="post.tintColor"
    :tintOpacity="post.tintOpacity"
  />
</template>

<script>

import PostMainEntry from '@/components/PostMainEntry'
const contentful = require('contentful')
const client = contentful.createClient({
      space: process.env.CTF_SPACE_ID,
      accessToken: process.env.CTF_CDA_ACCESS_TOKEN
})

export default {
  components: {
    PostMainEntry
  },
  asyncData(context) {
    // console.log('-----------------------------------')
    // console.log('-----------------------------------')
    // console.log('LAMBDA_ENDPOINT', `${context.env.LAMBDA_ENDPOINT}/getEntries`)
    // console.log('-----------------------------------')
    // console.log('-----------------------------------')
    return client.getEntries({
      order: '-sys.createdAt',
      include: 6
    })
      .then((entries) => {
        let posts = entries.items
          .filter( (item) => {
            if (item.sys.contentType.sys.id !== 'title') {
              return false; // skip
            }
            return true;
          })
          .map((item, nr) => {


            const year = item.sys.createdAt.split('-')[0]
            const month = item.sys.createdAt.split('-')[1]
            const day = item.sys.createdAt.split('-')[2].split('T')[0]
            return {
              title: item.fields.title,
              mainEntry: item.fields.mainEntry,
              previewText: item.fields.previewText,
              portrait: 'https:' + item.fields.photoOfDesigner.fields.file.url,
              portraitConfig: item.fields.portraitConfig,
              mainImage: 'https:' + item.fields.image.fields.file.url,
              mainImageConfig: item.fields.mainImageConfig,
              location: item.fields.location,
              nr: nr,
              slug: item.fields.slug,
              tags: item.fields.tags,
              tintColor: item.fields.portraitTint,
              tintOpacity: item.fields.portraitTintOpacity,
              created: {
                day: day,
                month: month,
                year: year
              }
            }
          })
        let post = {
          post: posts.find(el => el.slug === context.params.id)
        }
        return post
      })
      .catch(console.error)
  },
  computed: {
    monthText: function() {
      const allMonths = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
      const month = parseInt(this.post.created.month)

      return allMonths[month-1]
    }
  },
  head () {
    return {
      title: 'Literation - ' + this.post.title,
      meta: [
        { property: 'og:image', content: this.post.mainImage },
        { property: 'og:title', content: 'Literation - ' + this.post.title },
        { property: 'og:description', content: this.post.previewText },
        { property: 'twitter:card', content: 'summary_large_image' },
        { property: 'twitter:description', content: this.post.previewText },
        { property: 'twitter:title', content: 'Literation - ' + this.post.title },
        { property: 'twitter:image', content: this.post.mainImage },
      ]
    }
  }
}

</script>

<style scoped>
.post-inner {
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}
</style>
