<template>
  <div>
    <div class="grid-container">

      <section class="feed">
        <!-- <div v-for="date in months"> -->
        <!-- <h1 class="feed__month title">{{numberToMonth(date.month)}} {{date.year}}</h1> -->
        <div class="feed__posts">

          <!-- v-if="nr < showAmount && date.month === post.date.month" -->
          <post-preview-loading
            v-for="(post, nr) in posts"
            class="post-inner"
            :class="{'post-inner--is-visible': !showPosts}"
            :nr="post.nr"
            :key="post.slug+'-placeholder'"
            :tintColor="post.tintColor"
            :tintOpacity="post.tintOpacity"
          />


          <!-- v-if="nr < showAmount  && date.month === post.date.month" -->
          <post-preview
            class="post-inner"
            v-for="(post, nr) in posts"
            :class="{'post-inner--is-visible': showPosts}"
            :key="post.slug"
            :slug="post.slug"
            :date="post.date"
            :main-image="post.mainImage"
            :main-image-config="post.mainImageConfig"
            :portrait="post.portrait"
            :portrait-config="post.portraitConfig"
            :title="post.title"
            :location="post.location"
            :preview-text="post.previewText"
            :nr="post.nr"
            :tags="post.tags"
            :tint-color="post.tintColor"
            :tint-opacity="post.tintOpacity"
            @postPreviewMounted="loadedPosts.push($event)"
          />
        </div>
        <!-- </div> -->
      </section>


      <section class="side-bar">
        <side-panel
          :events="events"
        />
      </section>

    </div>
    <Footer />

  </div>

</template>

<script>
import PostPreview from '@/components/PostPreview'
import SidePanel from '@/components/SidePanel'
import PostPreviewLoading from '@/components/PostPreviewLoading'
import Footer from '@/components/Footer'

const contentful = require('contentful')
const client = contentful.createClient({
      space: process.env.CTF_SPACE_ID,
      accessToken: process.env.CTF_CDA_ACCESS_TOKEN
})
export default {
  head() {
    return {
      meta: [
        { property: 'og:description', content: 'Books that inspire designers & creatives' },
        { property: 'og:image', content: 'https://literation.co/literation-og.png' },
        { property: 'og:image:width', content: '1200' },
        { property: 'og:image:height', content: '630' },
        { property: 'twitter:card', content: 'summary_large_image' },
        { property: 'twitter:description', content: 'Books that inspire designers & creatives' },
        { property: 'twitter:title', content: 'Literation' },
        { property: 'twitter:image', content: 'https://literation.co/literation-og.png?73773' },

      ]
    }
  },
  components: {
    PostPreview,
    PostPreviewLoading,
    SidePanel,
    Footer
  },
  data() {
    return {
      posts: [],
      months: [],
      loadedPosts: [],
      showAmount: 1000
    }
  },
  beforeUpdate() {
  },
  asyncData (context) {
    // return context.$axios.get(`${context.env.LAMBDA_ENDPOINT}/getEntries`)
    return client.getEntries({
      order: '-sys.createdAt',
      include: 6
    })
      .then(entries => {

        // console.log('entries.data.items: ', entries.data.items)
        let posts = entries.items
          .filter( (item) => {
            if (item.sys.contentType.sys.id !== 'title') {
              return false; // skip
            }
            return true;
          })
          .map((item, nr) => {
            console.log('item: ', item)
            let portraitConfig
            if (item.fields.portraitConfig == null){
              portraitConfig = ''
            } else {
              portraitConfig = item.fields.portraitConfig
            }
            return {
              title: item.fields.title,
              previewText: item.fields.previewText,
              portrait: 'https:' + item.fields.photoOfDesigner.fields.file.url,
              portraitConfig: portraitConfig,
              mainImage: 'https:' + item.fields.image.fields.file.url,
              mainImageConfig: item.fields.mainImageConfig,
              location: item.fields.location,
              nr: nr,
              slug: item.fields.slug,
              tags: item.fields.tags,
              tintColor: item.fields.portraitTint,
              tintOpacity: item.fields.portraitTintOpacity,
              date: {
                year: Number(item.sys.createdAt.split('T')[0].split('-')[0]),
                month: Number(item.sys.createdAt.split('T')[0].split('-')[1]),
                day: Number(item.sys.createdAt.split('T')[0].split('-')[2])
              }
            }
          })

        let months = []
        posts.map( item => {
          let newDate = item.date
          function checkMonth(date, months) {
            if (months.length === 0) {
              return true
            }
            for (let i = months.length-1; i >= 0; i--) {
              let oldDate = months[i]
              if (date.month === oldDate.month && date.year === oldDate.year) {
                return false
              }
            }
            return true
          }
          if (checkMonth(newDate, months)) {
            months.push({
              month: newDate.month,
              year: newDate.year
            })
          }
        })


        let events = entries.items
          .filter( (item) => {
            if (item.sys.contentType.sys.id !== 'event') {
              return false; // skip
            }
            return true;
          })
          .map((item, nr) => {
            function mapImages(images) {
              if (images == null) {
                return undefined
              }
              return images.map(item => {
                if (!item.fields.image) {
                  return {
                    imageURL: '',
                    imageWidth: 0,
                    link: ''
                  }
                }

                return {
                  imageURL: item.fields.image.fields.file.url,
                  imageWidth: Number(item.fields.imageWidth),
                  link: item.fields.link
                }
              })

            }

            let events = {
              title: item.fields.title,
              titleStylized: item.fields.titleStylized,
              order: item.fields.order,
              images: mapImages(item.fields.images)
            }
            return events
          })
          .sort((a, b) => {
            if (a.order && b.order) {
              return a.order - b.order;
            }
          })

        return {
          posts: posts,
          months: months,
          events: events
        }
      })
      .catch(console.error)

  },
  months: [],
  methods: {
    scroll () {
      window.onscroll = () => {
        let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight

        if (bottomOfWindow) {
          this.addPosts()
        }
      }
    },
    addPosts() {
      this.showAmount += 2
    },
    numberToMonth(number) {
      const allMonths = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
      return allMonths[number-1]
    }
  },
  computed: {
    showPosts() {
      if (this.loadedPosts.length === this.posts.length) {
        return true
      } else {
        return false
      }
    }
  },
  mounted() {
    this.scroll(this.person);
  }

}
</script>

<style scoped lang="scss">
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "feed";
    margin-bottom: 100px;

    @include tablet {
      grid-template-columns: 1fr 550px 1fr 200px 1fr;
      grid-template-areas: ". feed . side-bar .";

    }

    @include desktop {
      grid-template-areas: ". feed . side-bar .";
      grid-template-columns: 1fr 950px 50px 260px 1fr;
    }


  }

  .feed {
    grid-area: feed;
    box-sizing: border-box;
      &__month {
        color: $literation-orange;
        font-weight: 600;
        font-size: 1rem;
        margin-left: 2rem;
        margin-bottom: 0;
        margin-top: 2rem;

        @include tablet {
          font-weight: 400;
          font-size: 1.2rem;
          margin-left: 2rem;
          margin-top: 4rem;
          margin-bottom: 1rem;
        }

      }

      &__posts{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;

        @include tablet {
          grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
          justify-items: center;
        }
      }
  }



  .side-bar {
    display: none;
      @include tablet {
        display: grid;
        grid-area: side-bar;
        box-sizing: border-box;
        grid-template-columns: 1fr;
        justify-items: center;
      }
  }



  .post-inner {
    margin: 10px 0 40px 0;
    cursor: pointer;
    display: none;
    @include tablet {
      margin: 10px 10px 50px 10px;
    }

    &--is-visible {
      display: block;
    }


  }


</style>
